
.mainDiv{
    text-align: center;
    margin-top: 5%;
}
.view{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.form {
    width: 100%;
    margin: 0px 10px 0px  2px;
   max-width: fit-content;
    position: relative;
  }
  .form .fake-input {
    width: 300px;
    border: 1px solid #bcbcbc;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form .fake-input button {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 22px;
    color: #999;
    cursor: pointer;
  }
  .form .fake-input input {
    padding: 10px 5px;
    width: calc(100% - 60px);
    border: none;
    outline: none;
    
  }

  .button{
    width: 45px;
    height: 45px;

    border: black;
    background-color: transparent;
  
    color: #999;
    cursor: pointer;
  }

  .micImage{
    border-radius: 22.5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 45px;
    height: 45px;
  }


  
  